extends layout 

block content 
    .main-content
        h1 #{instrument.name}
        p by #[strong #{instrument.manufacturer.name}]
        p #{instrument.description}
        p.price #[strong $#{instrument.price}]