doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  block sidebar 
    ul(class='sidebar-nav')
      li 
        a(href="/catalog") Home 
      li 
        a(href="/catalog/departments") All Departments 
      li 
        a(href="/catalog/instruments") All Instruments 
      li 
        a(href="/catalog/manufacturers") All Manufacturers  
    block content
